/examples/NaConductance.h.inf.dat
/examples/NaConductance.h.tau.dat
/examples/NaConductance.m.inf.dat
/examples/NaConductance.m.tau.dat
/examples/run_jneuroml_plot_matplotlib2.py
/examples/hhcell.hoc
/examples/test.morphonly.nml
/examples/test.biophys.nml
/examples/test.level2.xml
/examples/test.level1.xml
.idea

/examples/LEMS_iv_hhcell.xml
/examples/iv_hhcell.net.nml
/examples/iv_hhcell.v.dat
/pyneuroml/lems/mysim.v.dat
/pyneuroml/lems/LEMS_mysim.xml
test_models

*.pyc
*.*~
pyNeuroML.egg-info
build
dist
/pynml/*.dat

*.o
*.dll
*.log
*.mod
*nrn.py
x86_64
i386
time.dat

examples/results/*.dat
