jdk1.8.0_*
/examples/Makefile
/examples/fn1.mod
/examples/fn1_flat_dnsim.txt
/examples/archive.sh
/src
/examples/test_data/hh_v.dat
/examples/export_neuroml2_2x.py
/register.py
/examples/NaConductance.*.dat
/examples/KConductance.*.dat
/examples/test.morphonly.cell.nml
/examples/test.biophys.cell.nml
/examples/clean.sh
/examples/kChan.mod
/examples/naChan.mod
/examples/passiveChan.mod
/examples/pulseGen1.mod
/examples/LEMS_Test_*.xml
/examples/run_jneuroml_plot_matplotlib2.py
/examples/hhcell.hoc
/examples/test.morphonly.nml
/examples/test.biophys.nml
/examples/test.level2.xml
/examples/test.level1.xml
/examples/html
/examples/channel_summary
/examples/input*.mod
/examples/NT_*
/examples/*.spineml
/examples/*.9ml
/examples/*.m
/examples/*.sbml
/examples/*.sedml
/examples/*.json
/examples/*.c
/examples/*.ode
/examples/*.svg
/examples/*brian.py
.idea

/examples/LEMS_iv_hhcell.xml
/examples/iv_hhcell.net.nml
/examples/iv_hhcell.v.dat

/examples/tune/NT*
/examples/tune/*.mod
/examples/tune/*.hoc
/examples/tune/*nrn.py


/pyneuroml/lems/mysim.v.dat
/pyneuroml/lems/LEMS_mysim.xml

/pyneuroml/tune/temp
/pyneuroml/tune/NT_*

test_models

*.pyc
*.*~
pyNeuroML.egg-info
build
dist
/pynml/*.dat

*.o
*.dll
*.log
*nrn.py
x86_64
i386
time.dat
examples/old
examples/results/*.dat
*.dat
*.xml
/examples/tune/temp/Ca_conc.mod
/examples/tune/temp/Ca_pyr.mod
/examples/tune/temp/Input_1.mod
/examples/tune/temp/Kahp_pyr.mod
/examples/tune/temp/Kdr_pyr.mod
/examples/tune/temp/LeakConductance_pyr.mod
/examples/tune/temp/Na_pyr.mod
/examples/tune/temp/OnePyr.net.nml
/examples/tune/temp/pyr_4_sym.hoc

*.tmp
/examples/Vm_Test.sim.nml
/dockx
/dockx~
/pyneuroml/__init__$py.class
/pyneuroml/neuron/mod/NaConductance2.channel.nml
/examples/HHSim.v.spikes
/examples/test_data/Simple.Pop0.spikes
/examples/test_data/Simple.Pop1.spikes
/pyneuroml/neuron/mod/NaConductance.channel.nml
/examples/NML2_SingleCompHHCell.pov
/examples/KConductance.mod
/examples/NaConductance.mod
/examples/LEMS_NML2_Ex9_FN.proj
/examples/NML2_SingleCompHHCell.nml.pov
/examples/NML2_SingleCompHHCell.png
/examples/quick.png
/examples/test_data/HHCellNetwork.net.nml_channeldens.svg
