argparse
airspeed>=0.5.5
matplotlib
graphviz
modelspec>=0.1.3
NEURON
ppft

git+https://github.com/NeuralEnsemble/libNeuroML.git@master#egg=libNeuroML
git+https://github.com/LEMS/pylems.git@master#egg=pylems

git+https://github.com/NeuralEnsemble/pyelectro.git@master#egg=pyelectro
git+https://github.com/NeuralEnsemble/neurotune.git@master#egg=neurotune

git+https://github.com/aarongarrett/inspyred.git@master#egg=inspyred

pytest
pytest-cov

plotly
kaleido
matplotlib-scalebar

pyyaml
