argparse
pylems>=0.5.0
airspeed>=0.5.5
libNeuroML>=0.2.52
neuromllite>=0.2.2
matplotlib
git+https://github.com/NeuralEnsemble/libNeuroML.git@development#egg=libNeuroML
git+https://github.com/NeuroML/NeuroMLlite.git#egg=neuromllite
