argparse
airspeed>=0.5.5
matplotlib
graphviz
vispy
pyqt5
NEURON
ppft

git+https://github.com/ModECI/modelspec.git@development#egg=modelspec
git+https://github.com/NeuralEnsemble/libNeuroML.git@development#egg=libNeuroML
git+https://github.com/LEMS/pylems.git@development#egg=pylems

pyelectro
neurotune>=0.2.6 # now manages the version of inspyred


pytest
pytest-cov

plotly
kaleido
matplotlib-scalebar

pyyaml
