argparse
airspeed>=0.5.5
matplotlib
graphviz

# change these to development if working on the development branch
git+https://github.com/NeuralEnsemble/libNeuroML.git@master#egg=libNeuroML
git+https://github.com/NeuroML/NeuroMLlite.git@master#egg=NeuroMLlite
git+https://github.com/LEMS/pylems.git@master#egg=pylems

git+https://github.com/NeuralEnsemble/pyelectro.git@master#egg=pyelectro
git+https://github.com/NeuralEnsemble/neurotune.git@master#egg=neurotune

pytest
