argparse
airspeed>=0.5.5
matplotlib
graphviz
vispy
pyqt5
NEURON
ppft

git+https://github.com/NeuralEnsemble/libNeuroML.git@master#egg=libNeuroML
git+https://github.com/LEMS/pylems.git@master#egg=pylems

pyelectro
neurotune>=0.2.6 # now manages the version of inspyred


pytest
pytest-cov

plotly
kaleido
matplotlib-scalebar

pyyaml
