git+https://github.com/LEMS/pylems.git@development#egg=pylems
git+https://github.com/NeuralEnsemble/libNeuroML.git@development#egg=libNeuroML
git+https://github.com/NeuroML/NeuroMLlite.git@development#egg=neuromllite
