sphinxcontrib-bibtex
lxml
airspeed
opencv-python
libneuroml
pyelectro
matplotlib
plotly
scipy
pylems
graphviz
argparse
neuromllite
git+https://github.com/NeuralEnsemble/neurotune.git#egg=neurotune
git+https://github.com/NeuralEnsemble/pyelectro.git@master#egg=pyelectro
git+https://github.com/aarongarrett/inspyred.git@master#egg=inspyred
neuron
