sphinxcontrib-bibtex
lxml
airspeed
opencv-python
libneuroml
pyelectro
matplotlib
matplotlib_scalebar
plotly
scipy
pylems
graphviz
argparse
neuromllite
neurotune>=0.2.6 # now manages the version of inspyred
neuron
pydata-sphinx-theme
vispy
