sphinxcontrib-bibtex
lxml
airspeed
opencv-python
libneuroml
pyelectro
matplotlib
matplotlib_scalebar
plotly
scipy
pylems
graphviz
argparse
neuromllite
neurotune
git+https://github.com/aarongarrett/inspyred.git@master#egg=inspyred
neuron
pydata-sphinx-theme
vispy
