name: Continuous builds

on:
  push:
    branches:
      - master
      - development
      - experimental
      - 'test*'
  pull_request:
    branches:
      - master
      - development
      - experimental
      - 'test*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
      fail-fast: false

    steps:

    - uses: actions/checkout@v3
    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version:  ${{ matrix.python-version }}

    - name: Print refs
      run: |
        echo "github.ref is: ${{ github.ref }}"
        echo "github.base_ref is: ${{ github.base_ref }}"

    - name: Upgrade pip, install inspyred
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/aarongarrett/inspyred.git@master#egg=inspyred
        pip install .[all]

    - name: Install package and development deps
      if: ${{ github.ref == 'refs/heads/development' || github.base_ref == 'development' }}
      run: |
        echo "Using deps from development for our repos"
        pip install .[dev]

    - name: Install package and experimental deps
      if: ${{ github.ref == 'refs/heads/experimental' || github.base_ref == 'experimental' }}
      run: |
        echo "Using deps from experimental - assuming development in others"
        pip install .[experimental]

    - name: List packages so far
      run: |
        pip list

    - name: Run tests
      run: |
        pynml -h

        ./test-ghactions.sh -neuron

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 . --count --exit-zero --show-source --max-line-length=127 --statistics
